.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navicons{
  background:black;
  text-decoration: none;
  padding-left:15px;
  padding-right:15px;
  padding-top:8px;
  padding-bottom:8px;
  margin-left: 20px;
  border-radius:20px;
}

#loginblock{
  width:350px;
  height:370px;
  background:white;
  position: relative;
  left:1050px;
  top:200px;
  border-radius:30px;
}

#loginblock1{
  height: 45px;
  width:255px;
  position: relative;
  top:40px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: large;
}

#loginbutton{
  cursor: pointer;
  background-color:blue;
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
  height: 45px;
  width:255px;
  margin-top:30px;
  position: relative;
  top:20px;
  border-radius:10px;
  border: none;
  text-align: center;
}

#loginbutton:hover{
  cursor: pointer;
  background-color:skyblue;
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
  height: 45px;
  width:255px;
  margin-top:30px;
  position: relative;
  top:20px;
  border-radius:10px;
  border: none;
  text-align: center;
}

#loginbutton:active{
  cursor: pointer;
  background-color:greenyellow;
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
  height: 45px;
  width:255px;
  margin-top:30px;
  position: relative;
  top:20px;
  border-radius:10px;
  border: none;
  text-align: center;
}

#hr{
  width:310px;
  border: 3px solid red;
  border-radius:50%;
  position: relative;
  top:35px;
}

#createnewaccount{
  width:400px;
  height: 100%;
  background:transparent;
  backdrop-filter: blur(10px);
  position: relative;
  top:120px;
  left:150px;
  padding-bottom:40px;
  border-radius:40px;
}

.fileinput{
  padding-top: 10px;
  padding-left: 20px;
  background: white;
  height: 45px;
  width:255px;
  position: relative;
  top:40px;
  border: none;
  border-radius:10px;
  text-align: center;
  font-size: medium;
}

.textareainput{
  padding-top: 10px;
  height: 300px;
  width:255px;
  position: relative;
  top:40px;
  border: none;
  border-radius:10px;
  text-align: center;
  font-size: medium;
}

.newaccount{
  height: 45px;
  width:255px;
  position: relative;
  top:40px;
  border: none;
  border-radius:10px;
  text-align: center;
  font-size: medium;
}

.newaccountbtn{
  background-color:blue;
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
  height: 45px;
  width:270px;
  margin-top:30px;
  position: relative;
  top:20px;
  border-radius:10px;
  border: none;
  text-align: center;
}

#homediv1{
  background:url('/public/plants.jpg');
  background-size: cover;
  float: left;
  border-radius:50px;
  height:500px;
  width:500px;
  position: relative;
  top:120px;
  left:200px;
}

#homediv2{
  background: url('/public/trees.jpg');
  background-size: cover;
  float: left;
  border-radius:50px;
  height:500px;
  width:500px;
  position: relative;
  top:120px;
  left:350px;
}

/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  /* transition: all 0.5s ease; */
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .profile {
  height: 60px;
  width: 65px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
  position:relative;
  left: -8px;
  border-radius:20px;
}
.sidebar.open .profile {
  width: 237px;
  height:400px;
  border-radius: 0px;
}
/* .sidebar .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
} */
.sidebar.open img {
  height: 210px;
  width: 210px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}
.sidebar .profile .name{
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap; 
}
.sidebar .profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar .profile .job {
  font-size: 15px;
}
.sidebar .profile #log_out {
  position:absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
  position: relative;
  top: 50px;
  left:45px;
  cursor: pointer;
}

.logout{
  font-size: x-large;
  color: #fff;
  white-space: nowrap;
  position:relative;
  top:68px;
  right:15px;
  cursor: pointer;
}

.products-list{
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  margin: 20px;
  position: relative;
  top:50px;
}

.card{
  cursor: pointer;
  width: 300px;
  height: 100%;
  padding: 16px;
  border-radius: 5px;
  background: white;
  box-shadow:5px 5px 15px rgb(128, 121, 121);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card img{
  width: 250px;
  height: 250px;
  border-radius: 20px;
  /* object-fit: contain; */
}

#singledata{
  background:transparent;
  backdrop-filter: blur(15px);
  border-radius: 50px;
  width:1000px;
  height: 500px;
  position: relative;
  left:17%;
  top:100px;
  padding-bottom:55px;
  padding-top: 30px;
  padding-left:30px;
  padding-right: 30px;
}

#singledata img{
  width: 400px;
  height: 400px;
  border-radius: 30px;
  position: relative;
  top:20px;
  left:20px;
}

#textareadiv{
  position: relative;
  top:30px;
  right:45px;
}